<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

add_rm_update_customers.handlebars
-->


<main id="grid-container">

	
	<div id="left-col">


		<div class="pretty-forms">

			<h3>Add Customer</h3>

			<!-- Add Customer -->
			<form action="/add_rm_update_customers" method="post">

				<label for="first_name">First Name:</label>
				<input type="text" name="first_name">
				<br/>

				<label for="last_name">Last Name:</label>
				<input type="text" name="last_name">
				<br/>

				<label for="email">Email:</label>
				<input type="email" name="email">
				<br/>

				<label for="phone">Phone Number:</label>
				<input type="number" name="phone">
				<br/>

				<input type="submit" value="Add">
				<input id="add" name="add" type="hidden" value="addCustomer">

			</form>
			
		</div>


		<div class="pretty-forms">

			<h3>Delete Customer</h3>

			<!-- Delete Customer -->
			<form action="/add_rm_update_customers" method="post">

				<label for="first_name">First Name:</label>
				<input type="text" name="first_name">
				<br/>

				<label for="last_name">Last Name:</label>
				<input type="text" name="last_name">
				</br>

				<input type="submit" value="Delete">
				<input id="add" name="add" type="hidden" value="deleteCustomer">

			</form>

		</div>


		<div class="pretty-forms">

			<h3>Update Customer Debt</h3>

			<!-- Update Customer Debt -->
			<form action="/add_rm_update_customers" method="post">

				<label for="first_name">First Name:</label>
				<input type="text" name="first_name">
				<br/>

				<label for="last_name">Last Name:</label>
				<input type="text" name="last_name">
				<br/>

				<label for="debt">Debt:</label>
				<input type="number" name="debt">
				<br/>

				<input type="submit" value="Update">
				<input id="add" name="add" type="hidden" value="updateCustomerDebt">

			</form>
			
		</div>


		<div class="pretty-forms">

			<h3>Update Customer Favorite Creator</h3>

			<!-- Update Customer Favorite Creator-->
			<form action="/add_rm_update_customers" method="post">

				<label for="first_name">Customer First Name:</label>
				<input type="text" name="first_name">
				<br/>

				<label for="last_name">Customer Last Name:</label>
				<input type="text" name="last_name">
				<br/>

				<label for="creator_fname">Creator First Name:</label>
				<input type="text" name="creator_fname">
				<br/>

				<label for="creator_lname">Creator Last Name:
					<input type="text" name="creator_lname">
				<br/>

				<input type="submit" value="Update">
				<input id="add" name="add" type="hidden" value="updateCustomerFavoriteCreator">

			</form>
		
		</div>


		<div class="pretty-forms">

			<h3>Update Customer Favorite Genre</h3>

			<!-- Update Customer Favorite Genre -->
			<form action="/add_rm_update_customers" method="post">

				<label for="first_name">Customer First Name:</label>
				<input type="text" name="first_name">
				<br/>

				<label for="last_name">Customer Last Name:</label>
				<input type="text" name="last_name">
				<br/>

				<label for="genre_name">Genre:</label>
				<input type="text" name="genre_name">
				<br/>

				<input type="submit" value="Update">
				<input id="add" name="add" type="hidden" value="updateCustomerFavoriteGenre">

			</form>

		</div>


		<div class="pretty-forms">

			<h3>Delete Customer Favorite Creator</h3>

			<!-- Delete Customer Favorite Creator-->
			<form action="/add_rm_update_customers" method="post">

				<label for="first_name">Customer First Name:</label>
				<input type="text" name="first_name">
				<br/>

				<label for="last_name">Customer Last Name:</label>
				<input type="text" name="last_name">
				<br/>

				<input type="submit" value="Update">

				<input id="add" name="add" type="hidden" value="deleteCustomerFavoriteCreator">

			</form>

		</div>


		<div class="pretty-forms">

			<h3>Delete Customer Favorite Genre</h3>

			<!-- Delete Customer Favorite Creator-->
			<form action="/add_rm_update_customers" method="post">

				<label for="first_name">Customer First Name:
				<input type="text" name="first_name">
				<br/>

				<label for="last_name">Customer Last Name:</label>
				<input type="text" name="last_name">
				<br/>

				<input type="submit" value="Update">
				<input id="add" name="add" type="hidden" value="deleteCustomerFavoriteGenre">

			</form>

		</div>


	</div>


	<div id="right-col">

		<h3>All Customers</h3>

		{{#each customer}}
  		<table class="pretty-tables">

	    	<tr>
	      		<th colspan="2">
	        		{{this.full_name}}
	      		</th>
	    	</tr>

	    	<tr>
	      		<td>
	        		Email
	      		</td>
	      		<td>
	        		{{this.email}}
	      		</td>
	    	</tr>

	    	<tr> 
	      		<td>
	        		Phone
	      		</td>
	      		<td>
	        		{{this.phone}}
	      		</td>
	   		</tr>

	    	<tr>
	      		<td>
	        		Debt
	      		</td>
	      		<td>
	        		{{this.debt}}
	      		</td>
	    	</tr>

	    	<tr>
	      		<td>
	        		Favorite Creator
	      		</td>
	      		<td>
	        		{{this.favorite_creator}}
	      		</td>
	    	</tr>

	    	<tr>
	    		<td>
	    			Favorite Genre
	    		</td>
	    		<td>
	    			{{this.favorite_genre}}
	    		</td>
	    	</tr>

 		</table>
  		{{/each}}


	</div>


</main>
