<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

rental.handlebars
-->


<main>

	{{#each game}}
	<form action="/customer-rentals" method="post">

		<table class="pretty-tables">

			<tr>
					<th colspan="2">
						{{this.game_name}}
					</th>
			</tr>

			<tr>
					<td>
						Minimum # Of Players
					</td>
					<td>
						{{this.min_num_player}}
					</td>
			</tr>

			<tr>
					<td>
						Maximum # Of Players
					</td>
					<td>
						{{this.max_num_player}}
					</td>
			</tr>

			<tr>
					<td>
						Rating
					</td>
					<td>
						{{this.rating}}/10
					</td>
			</tr>

			<tr>
					<td>
						Year Created
					</td>
					<td>
						{{this.year_created}}
					</td>
			</tr>

			<tr>
				<td>
					Genres
				</td>
				<td>
					{{this.genres}}
				</td>
			</tr>

			<tr>
				<td>
					Creators
				</td>
				<td>
					{{this.creators}}
				</td>
			</tr>

			<tr>
				<td>
					Due Date
				</td>
				<td>
					{{this.due_date}}
				</td>
			</tr>

			<tr>
		        <td colspan="2">
		        	<input id="rental_ID" name="rental_ID" type="hidden" value={{this.rental_ID}}>
		        	<input id="customer_ID" name="customer_ID" type="hidden" value={{this.customer_ID}}>
		        	<input type="submit" value="Return Rental">
		        </td>
		    </tr>

		</table>

	</form>
	{{/each}}


</main>
