<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

customer.handlebars
-->


<main>

  <ul>

    {{#each customer}}
    <li>Name

      <ul>
        <li>First name: {{this.first_name}}</li>
        <li>Last Name: {{this.last_name}}</li>
      </ul>

    </li>

    <li>Email: {{this.email}}</li>

    <li>Phone: {{this.phone}}</li>

    <li>Debt: ${{this.debt}}</li>

    <li>Favorite Creator: {{this.favorite_creator}}</li>

    <li>Favorite Genre: {{this.favorite_genre}}</li>

    <li>Rentals

      <ul>
        <li>Game Title: A Game of Thrones Boardgame Second Edition</li>
          <a href="/return">Return</a>
      </ul>

    </li>
    {{/each}}

  </ul>
  <br/>


</main>
