<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

customer.handlebars
-->

<main>
  
  {{#each customer}}
  <form action="/customer-rentals" method="get">

    <table class="pretty-tables">

      <tr>
        <th colspan="2">
          {{this.first_name}}
          {{this.last_name}}
        </th>
      </tr>

      <tr>
        <td>
          Email
        </td>
        <td>
          {{this.email}}
        </td>
      </tr>

      <tr>
        <td>
          Phone
        </td>
        <td>
          {{this.phone}}
        </td>
      </tr>

      <tr>
        <td>
          Debt
        </td>
        <td>
          {{this.debt}}
        </td>
      </tr>

      <tr>
        <td>
          Favorite creator
        </td>
        <td>
          {{this.favorite_creator}}
        </td>
      </tr>

      <tr>
        <td>
          Favorite genre
        </td>
        <td>
          {{this.favorite_genre}}
        </td>
      </tr>

      <tr>
        <td>
          See Rentals
        </td>
        <td>
          <input id="customer_ID" name="customer_ID" type="hidden" value={{this.customer_ID}}>
          <input type="submit" value="Rentals">
        </td>

      </tr>

    </table>
  </form>
  {{/each}}

</main>
