<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

customer.handlebars
-->

<main>
  <ul>
    {{#each customer}}
    <!-- - -->
  <table>

    <tr>
      <th colspan="2">
        {{this.first_name}}
        {{this.last_name}}
      </th>
    </tr>

    <tr>
      <td>
        Email
      </td>
      <td>
        {{this.email}}
      </td>
    </tr>

    <tr>
      <td>
        Phone
      </td>
      <td>
        {{this.phone}}
      </td>
    </tr>

    <tr>
      <td>
        Debt
      </td>
      <td>
        {{this.debt}}
      </td>
    </tr>
    {{/each}}

    <tr>
      <td>
        Favorite creator
      </td>
      {{#each creator}}
      <td>
        {{this.first_name}}
        {{this.last_name}}
      </td>
      {{/each}}
    </tr>

    <tr>
      <td>
        Favorite genre
      </td>
      {{#each genre}}
      <td>
        {{this.genre_name}}
      </td>
      {{/each}}
    </tr>



  </table>

</main>
