<!--
Otherworldly Games

A project by Group 28: Fellowship of Databases

Team Members:
Nancy Nguyen
Katelyn Lindsey

return.handlebars
-->

<main>

	<form action="/rent-a-game" method="post">
		{{#each game}}
		<table class="pretty-tables">

			<tr>
					<th colspan="2">
						{{this.game_name}}
					</th>
			</tr>

			<tr>
					<td>
						Minimum # Of Players
					</td>
					<td>
						{{this.min_num_player}}
					</td>
			</tr>

			<tr>
					<td>
						Maximum # Of Players
					</td>
					<td>
						{{this.max_num_player}}
					</td>
			</tr>

			<tr>
					<td>
						Rating
					</td>
					<td>
						{{this.rating}}/10
					</td>
			</tr>

			<tr>
					<td>
						Year Created
					</td>
					<td>
						{{this.year_created}}
					</td>
			</tr>

			<tr>
				<td>
					Genres
				</td>
				<td>
					{{this.genres}}
				</td>
			</tr>

			<tr>
				<td>
					Creators
				</td>
				<td>
					{{this.creators}}
				</td>
			</tr>

		</table>
{{/each}}


	<label for="customer_name">Full Name:</label>
	<input list="customer_names" type="text" name="customer_name">
	<datalist id="customer_names">
		{{#each customer}}
			<option data-value={{this.full_name}}>{{this.full_name}}</option>
			{{/each}}
	</datalist>
	<br/>
	<label for="due_date">Due Date: </label>
	<input id="due_date" name="due_date" type="text">
	<br/>
	{{#each game}}
		<input id="board_game_ID" name="board_game_ID" type="hidden" value={{this.board_game_ID}}>
	{{/each}}
	<input type="submit" value="Rent">

</form>
</main>
